#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Name=LZ-Kernel-Manager
GenericName=LZ-Kernel-Manager
Icon=/home/thomas/.icons/icons8-linux-50.png
Exec=lzkm
Terminal=true
StartupNotify=false
Type=Application
Categories=GTK;Development;IDE;Programming;
Name[en_US]=LZ-Kernel-Manager
